In [5]:
from ipynb.fs.full.fasterRCNN_resnet_preprocess import transformsXY, mask_to_bb
#library imports
import os
import random
import math
from datetime import datetime
from collections import Counter
import pandas as pd
import numpy as np

import cv2
from PIL import Image
from pathlib import Path
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle
from sklearn.model_selection import train_test_split
import xml.etree.ElementTree as ET

import torch
from torch.utils.data import Dataset, DataLoader
import torch.optim as optim
import torch.nn as nn
import torch.nn.functional as F
from torchvision import models
#from skimage import io

In [4]:
annotations_file = "annotations_704.csv"

In [6]:
df_train = pd.read_csv(annotations_file)
df_train.head()

,filename,x1,y1,x2,y2,class,Train/Test,width,height,new_bb,class_idx
0,db_lisa_tiny/sample_001.png,190,40,211,63,stop,Train,704,480,[ 40 190 63 211],0
1,db_lisa_tiny/sample_002.png,4,246,43,283,stop,Train,704,480,[246 4 283 43],0
2,db_lisa_tiny/sample_003.png,389,286,418,314,stop,Train,704,480,[286 389 314 418],0
3,db_lisa_tiny/sample_006.png,476,137,514,174,stop,Train,704,480,[137 476 174 514],0
4,db_lisa_tiny/sample_007.png,30,26,54,50,stop,Train,704,480,[26 30 50 54],0

In [9]:
type(df_train["new_bb"][0])

str

In [10]:
a = np.ndarray(df_train["new_bb"][0])
type(a)

TypeError: 'str' object cannot be interpreted as an integer